/*styles go here*/

h1 {
		background-color: white;
		color: orange;
		text-align: center;
    font-family: 'Oswald', arial, sans-serif;
		font-size: 20pt
}
p {
		color: white;
    font-family: 'Playfair Display', georgia, serif;
		font-size: 12pt
		text-align:center;
		background-color: black;
}
body {
	text-align: center;
	background-color: beige;
}
ul {
	text-decoration: none;
	text-align: center;
	font-family: "Times New Roman", Times, sans-serif;
	font-size: 8pt
}

#container{
    width: 95%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	  list-style-type: none;
}
