/*styles go here*/

h1 {
		background-color: white;
		color: orange;
		text-align: center;
    font-family: 'Oswald', arial, sans-serif;
		font-size: 30pt;
		font-weight: bolder;
		margin-left: 400px;
		margin-right: 400px;
}
p {
		color: black;
    font-family: 'Playfair Display', georgia, serif;
		font-size: 14pt;
		text-align:center;
		background-color: orange;
		font-weight: lighter;
		margin-left: 400px;
		margin-right: 400px;
}
body {
	text-align: center;
	background-color: black;
}
ul {
	background-color: white;
	list-style-type:none;
	text-decoration: none;
	text-align: center;
	font-family: "Times New Roman", Times, sans-serif;
	font-size: 12pt;
	margin-left: 400px;
	margin-right: 400px;
}

a {
text-decoration: none;
}
a:link {
	color:orange;
}
a:visited {
	color: black;
}
a:hover {
	color: blue;
}

nav ul {
    display: none;
}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}
.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}
nav ul li {
    display: block;
    border-top: 1px #79896d solid;
}

nav a {
    color: #f8ecc2;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}
