/*styles go here*/

p {
	color: red;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
		color: blue;
		text-align: center;
    font-family: Georgia, "Times New Roman", serif;
		font-size: 20pt
}
body {
	text-align: center;
	background-color: powderblue;
}

#container{
    width: 95%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	  list-style-type: none;
}
